page-home {
	.formDiv {
      width: 98%;
      height: 100%;
      border: 3px solid #000000;
       display: -webkit-flex;
      display: flex;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-align-content: center;
      align-content: center;
    }

    #pname{

    }
}
